@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

select{
    height: auto;
    padding: 15px;
    cursor: pointer;
    font-weight: 400;
    color: rgb(224, 224, 224);
    background-color: #222;
    width:100%;
    height:40px;
    border: none;
  }
.error-msg{
    font-weight: bolder;
    font-size: small;
    text-align: center;
    color:red;
} 
a{
    color:white;
    font-size: small;
    text-align: center;
}
span{
    color:rgba(255, 255, 255, 0.622);
    margin: 0 auto;
    text-align: center;
  }

.form-bottom-message{
    color:white;
    width:fit-content;
    height:fit-content;
    float: none;
    position: absolute;
    top: 75%;
    right: 55%;
    background-color: #222;
    text-align: center;
    font-size: smaller;
}
.main-nav {
    cursor: pointer;
    background-color: #222;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0px auto;
    cursor: pointer;
    width: 25%;
    float: none;
    position: relative;
    top: 100%;
    left: 18%;
    height: fit-content;
  }
 button{
    background-color: rgb(101, 101, 101);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 0px auto;
    cursor: pointer;
    width: fit-content;
    float: none;
    position: absolute;
    top: 68%;
    left: 40%;
  }
  input[type=submit]:hover{
    background: #fff;
      color: gray;
  }
  input[type=submit]:focus{
    background: #fff;
      color: gray;
  }
body, html {
  height: 100%;
}
body {
  font-family: 'Open Sans';
  font-weight: 100;
  display: flex;
  overflow: hidden;
}

.login-form {
  background: #222;
  box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  min-height: 10rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  align-content: center;
  align-self: center;
  bottom: 50%;
}
.login-text {
  background: hsl(40,30,60);
  font-size: 1.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
}

.login-username, .login-password {
  background: transparent;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms;
  width: calc(100% - 3rem);
  font-size: medium;
}

.login-submit {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms ease-in;
  height:40px;
  width:80px;
  font-size: large;
}

[class*=underlay] {
    left: 0;
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 0;
  }
  .underlay-photo {
    animation: hue-rotate 6s infinite;
    background: url('https://img.freepik.com/free-photo/motherboard-circuit-technology-background-gradient-blue_53876-124645.jpg?w=740&t=st=1660224890~exp=1660225490~hmac=d20723aa0b91f07088e22e45c6d0c8ef8f8a3dd005746f34e90956f2f74d1eda');
    background-size: cover;
    -webkit-filter: grayscale(30%);
    z-index: -1;
  }
  .underlay-black {
    background: rgba(0,0,0,0.7);
    z-index: -1;
  }
  
  @keyframes hue-rotate {
    from {
      -webkit-filter: grayscale(30%) hue-rotate(0deg);
    }
    to {
      -webkit-filter: grayscale(30%) hue-rotate(360deg);
    }
  }
