<div class="loginform">
    <div>
        <legend>Step 3: Enter Your New Password: </legend>
        <br>
        <input type="password" class="login-password" autofocus="true" formControlName="username" placeholder="Password" />
        <span *ngIf="!passResetForm.get('password').valid && passResetForm.get('password').touched">Password must contain more than 8 characters, 1 upper case letter, and 1
            special character</span>
        <br/> <br/>
        <legend>Step 4: Re-enter Your Password: </legend>
        <br>
        <input type="password" class="login-password" formControlName="password" placeholder="Password" />
        <span *ngIf="!passResetForm.get('repassword').valid && passResetForm.get('repassword').touched">Password must contain more than 8 characters, 1 upper case letter, and 1
            special character</span>
    </div>
    <br/> <br/>
    <legend>Step 5: Click Reset Password</legend>
    <div class="error-msg">
        <span *ngIf="msg!=''">
            {{msg}}
            <br/><br/>
        </span>
    </div>
    <br/>
    <input type="submit" name="Login" class="login-submit" value="Cancel" class="login-submit" (click)="onCancel()"/>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="Login" class="login-submit" value="Reset Password" class="login-submit" [disabled]="!passResetForm.valid" (click)="onReset()"/>
</div>