<div class="user-modal"> 
    <h1>Password Reset</h1>
    <br /><br />
    <form id="reset-password" class="form">
        <div class="fieldset">
            <fieldset class="fieldset-style">
                <label>Re-enter the password: </label>
                <input type="password" [(ngModel)]="repassword" >
            </fieldset>
            <fieldset class="fieldset-style">
                <label>Enter your new password: </label>
                <input type="password" [(ngModel)]="password" >
            </fieldset>
        </div>
        <br/><br/>
        <p class="fieldset">
            <input type="submit" (click)="onReset()" value="Reset Password">
        </p>
    </form>
</div>