<div class="form">
      <form class="login" (submit)="onFormSubmit()" [formGroup]="loginForm">
            <br/>
            <p class="title">Login</p>
            <div class="error-msg">
                <span *ngIf="message!=''">
                    {{message}}
                    <br/><br/>
                </span>
                <input type="username" class="login-username" autofocus="true" formControlName="username" placeholder="Employee ID" />
                <span *ngIf="loginForm.controls['username'].invalid
                          && loginForm.controls['username'].touched">
                    <span *ngIf="loginForm.controls['username'].errors['required']"> Employee ID is Required</span>
                </span>
                <br/> <br/>
                <input type="password" class="login-password" formControlName="password" placeholder="Password" />
                <span *ngIf="loginForm.controls['password'].invalid
                              && loginForm.controls['password'].touched">
                        <span *ngIf="loginForm.controls['password'].errors['required']"> Password is Required</span>
                </span>
            </div>
            <br/> <br/>
            <input type="submit" name="Login" value="Login" class="login-submit" [disabled]="!loginForm.valid"/>
            <br/> <br/><br/> <br/>
            <p class="form-bottom-message"><a routerLink="/verify-username" (click)="toVerifyUsername()">Forgot Password?</a></p>
            <br/> <br/>
            <p class="signup"><a routerLink="/signup" (click)="toSignUp()" class = "active" value ="Sign-Up">New here? Click me!</a></p>
        </form>
</div>
    <div class="underlay-photo"></div>
    <div class="underlay-black"></div> 