<!-- Developed by http://grohit.com/ -->
<p data-item=''>Reward Redemption System</p>
  <nav class = "nav">
    <ul class="menuItems">
      <a class = "active" routerLink="/dashboard">Home</a> 
      &nbsp;&nbsp;&nbsp;
      <a routerLink="/profile" (click)="toProfile()">Profile</a>
      &nbsp;&nbsp;&nbsp;
      <a routerLink="/redeem">Redeem Points</a>
      &nbsp;&nbsp;&nbsp;
      <a routerLink="/edit" (click)="editProfile()">Edit Profile</a>
      &nbsp;&nbsp;&nbsp;
      <a routerLink="/logout" (click)="logout()">Logout</a>
    </ul>
  </nav>
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 
<!-- Footer starts-->
<footer>

  <!-- Copyright -->
  <!-- ❤️  -->
  <!-- <div class="footer-copyright text-center">&copy; Developed with ❤️ by
    <a href="https://grohit.com/" target="_blank">G Rohit</a>. <a href="https://codepen.io/grohit/" target="_blank">Check my other pens </a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer ends-->

<!-- Developed by http://grohit.com/ -->