<div class="form">
    <div class="login">
        <div class="login-text">
            <span class="fa-stack fa-lg">
              <i class="fa fa-lock fa-stack-1x"></i>
            </span>
          </div>
          <h1>Reset Your Password</h1>
          <div class="error-msg">
              <span *ngIf="msg!=''">
                  {{msg}}
                  <br/><br/>
              </span>
          </div>
          <div>
              <legend>Step 1: Enter Your Username</legend>
              <br/>
              <input type="username" class="login-username" autofocus="true" formControlName="username" placeholder="Username" />
              <input type="submit" class="login-submit" (click)="onSubmit()" [disabled]="!status" value="Verify Username">
              <br/> <br/>
              <div *ngIf="showSecurityBox">
                      <legend>Step 2: Answer Security Question</legend>
                      <br>
                      <label class="question">
                          {{dto?.securityQuestion}}
                      </label>
                      <input [(ngModel)]="answer" type = "text" class="login-username" autofocus="true" placeholder="Security Answer">
                      <input type="submit" class="login-submit" (click)="onQuestionSubmit()" [disabled]="!status" value="Submit Answer">
          </div>
          <br/> <br/>
          <div *ngIf="showPasswordBoxes" class = "passResetForm">
              <app-reset-password></app-reset-password>
          </div>
    </div>
</div>
<div class="underlay-photo"></div>
<div class="underlay-black"></div> 